<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ninja's food</title>
</head>
<body>
    <h1>Ninja's favourite foods are:</h1>
    <ul>
	{% for food in foods %}
        <li>{{ food.name|center }}</li>
    {% endfor %}
    </ul>
    
    <p>Ninjas need energy:</p>
    <ul>
    {% for food in foods %}
        <li> {{ food.name}}{{" => " ~ food.kcal ~ "kcal"}} 
            {% if food.kcal>200 %}
               <br /> Full of energy!
            {% elif not food.kcal>100 %}
                <br /> Not enought energy... :(
            {% else %}
                <br />Not bad!
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
